.container {
  padding-top: 2em;
}

.intro {
  font-size: 1.5em;
  margin-bottom: 1.5em;
}

.input-value {
  margin-top: 1em;
  font-size: 1.25em;
  width:10rem
}
.container{
  margin: 3rem 15rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.highlight {
  color: #00d1b2;
  font-weight: bold;
}

.box{
  display: flex;
  flex-direction: column;
}

.input{
  width: 10rem;
  margin: 0.3rem;
}

.output{
  margin-right: 13rem;
}